html, body {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 10px;
}

.margin-auto {
	margin: auto;
}

#gameContainer table td, th {
	width: 48px;
	height: 48px;
}

#gameContainer .gameFieldHeaderSquare {
	outline:1px solid black;
}

#gameContainer .gameFieldSquare {
	background-color: blue;
	outline:1px solid black;
}

#gameContainer .shipPart {
	z-index: 2;
	background-color: black;
	outline:1px solid white;
}

#gameContainer .shipPartHit {
	z-index: 2;
	background-color: darkred;
	outline:1px solid white;
}

#gameContainer .missed {
	z-index: 2;
	border-radius: 50%;
	background-color: darkslategrey;
	outline:1px solid white;
}

#gameContainer .fullyDestroyedShip {
	z-index: 2;
	background-color: springgreen;
	outline:1px solid white;
}
