html, body {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 10px;
}

#gameContainer {
	display: none;
	height: 50%;
}

#gameContainer .fill {
	height: 100%;
}

#gameContainer .gameField {
	height: 100%;
}

#gameContainer table {
	height: 100%;
	width: 100%;
	text-align: center;
}

#gameContainer table td {
	width: 9%;
}

#gameContainer .gameFieldHeaderSquare {
	outline:1px solid black;
}

#gameContainer .gameFieldSquare {
	background-color: blue;
	outline:1px solid black;
}