.popover{
   max-width: 180px;
}

.top20 {
	margin-top: 20px;
}

.top60 {
	margin-top: 60px;
}

.bottom5 {
	margin-bottom: 5px;
}

.bottom20 {
	margin-bottom: 20px;
}

.left20 {
	margin-left: 20px !important;
}

.margin-auto {
	margin: auto;
}

.text-large {
	font-size: large;
}

.cursor-default {
	cursor: default;
}

.wellNoMargins {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 70%;
}

#gameContainer table td, th {
	width: 48px;
	height: 48px;
}

.fieldButton {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #2278BF;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  opacity: 1 !important;
}

#legendButtonPopover {
	margin-top: 10px;
	margin-bottom: 20px;
}

.legendButton {
	width: 48px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  opacity: 1 !important;
  cursor: default !important;
}

.water-field {
	background-color: #2278BF;
}

.ship-field {
	background-color: #333;
}

.missed-field {
	background-color: #DDD;
}

.hit-field {
	background-color: #F44336;
}

.destroyed-field {
	background-color: #4CAF50;
}

#myGameField button {
	cursor: default;
}

.tableRedBorder {
	border: 3px solid red;
}

#gameContainer .gameFieldHeaderSquare {
	outline:1px solid black;
}

#gameContainer .gameFieldSquare {
	background-color: darkblue;
	outline:1px solid black;
}

.shipMapKey {
	margin-left: 20px;
}
